.items {
  list-style: none;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(218, 214, 214)!important;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

.items:hover {
  color: rgb(221, 5, 5);
  background-color: ghostwhite;
}

.header-container{
  /* background-color: rgb(137, 144, 112); */
  background-color:darkslateblue;
  padding: 10px;
}
.navbar-brand{
  color: wheat!important;
}